body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    position: absolute;
    top: 0; left: 0; right: 0;
}

ul {
    list-style: none;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
}

.first {
    display: flex;
    list-style: none;
    gap: 16px;
}

.logo, .secondary-text {
    display: flex;
    flex-direction: row;
}

.secondary-text {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
    margin-right: -13px;
}

.big-text { 
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: -10px;
}

.under-text {
    margin-top: -40px;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 8px;
    border: 2;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 32px;
    padding-left: 32px;
    border-color: white;
}

.main-text {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-evenly;
}

.second {
    list-style: none;
    max-width: 500px;
    margin-left: -60px;
}

.image {
    margin-right: 35px;
    margin-left: 0px;
    margin-bottom: 120px;
    margin-top: 60px;
}

.big-text, .under-text, button {
    margin-left: 60px;
    margin-right: 0px;
}

.try {
    width: 100%;
}

.mid-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    align-self: center;
    margin-bottom: 32px;
}

.container {
   background-color: white; 
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.four-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
    text-align: center;
    flex-wrap: wrap;
}

.images {
    border: 4px;
    border-color: #3882F6;
    flex-wrap: wrap;
    max-width: 200px;
    font-size: 18px;
}

.citation {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 820px;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: -60px;
    margin-top: 80px;
}

.autor {
    font-size: 22px;
    font-weight: 900;
    justify-self: center;
    margin-left: 525px;
    margin-bottom: 80px;
}

.lower {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    justify-content: space-between;
    display: flex;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
}

.action-text {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: -20px;
    align-self: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 120px;
}

.little-text {
    font-size: 18px;
    color: #e5e7eb; 
    align-self: center;
    justify-content: center;
    font-weight: normal;
    margin-top: -20px;
    margin-bottom: 70px;
}

.button {
    align-self: center;
    justify-content: center;
    margin-right: 120px;
}

footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.foot-text {
    margin-top: 8px;
    margin-bottom: 8px;
}

.ekip {
    margin-top: -17px;
}